/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  /* Дублируем переменные для тёмной темы */
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color:#F1B2CE;
  --background-image: url("../images/cover-image-dark.png");
  --subtitle-color: #000028;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--background-image);
}

.theme_dark .header__decorate {
  display: flex;
  color: var(--accent-color, #ff0070);
}

.theme_dark .header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme_dark .header__theme-menu {
  color: var(--accent-color, #ff0070);
}

.theme_dark button:hover {
  outline-color: rgba(255, 0, 112, .4);
}

.section__title {
  color: var(--accent-color, #ff0070);
}

/*  */
.theme_dark .title {
  color: #DB00FF;;
}

.theme_dark .header__decorate {
  display: flex;
  color: var(--accent-color, #ff0070);
}

.theme_dark .decorated-zone {
  color: var(--accent-color, #ff0070);
}

.theme_dark .header__theme-menu {
  color: var(--accent-color, #ff0070);
}

.theme_dark button:hover {
  outline-color: rgba(255, 0, 112, .4);
}

.theme_dark .section__title {
  color: var(--accent-color, #ff0070);
}
