/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

.page {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
button {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:disabled {
  pointer-events: none;
}

picture {
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:focus,
a:focus {
  outline: none;
}

button:hover {
  outline: 1px solid rgba(255, 0, 112, .4);
}

button:focus-visible {
  outline: none;
  box-shadow: 0 1px currentColor;
}

a:hover {
  /* text-decoration: underline;
  text-underline-offset: 3px; */
  box-shadow: 0px 1px currentColor;
}

a:focus-visible {
  outline: 1px solid currentColor;
  /* TODO: Think how make outline  */
}