/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  /* Переменные светлой темы */ 
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --text-color:#353430;
  --background-image: url("../images/cover-image-light.png");
  --subtitle-color: #353430;   
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root { 
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --text-color:#353430;
    --background-image: url("../images/cover-image-light.png");
    --subtitle-color: #353430;      
  }

  .page.theme_light {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    background-image: var(--background-image);
  }
  
  .title {
    color: #FFC2E6;
  }
  
  .header__decorate {
    display: none;
  }

  .decorated-zone {
    color: var(--text-color, #353430);
  }
  
  .header__theme-menu {
    color: var(--text-color, #353430);
  }
  
  button:hover {
    outline-color: rgba(53, 52, 48, 0.5);
  }
  
  .section__title {
    color: var(--text-color, #353430);
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--background-image);
}

.theme_light .title {
  color: #FFC2E6;
}

.theme_light .header__decorate {
  display: none;
}

.theme_light .decorated-zone {
  color: var(--text-color, #353430);
}

.theme_light .header__theme-menu {
  color: var(--text-color, #353430);
}

.theme_light button:hover {
  outline-color: rgba(53, 52, 48, 0.4);
}

.theme_light .section__title {
  color: var(--text-color, #353430);
}
