:root {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color:#F1B2CE;
  --main-font: 'IBM Plex mono';
  --content-padding: 10px;
  --background-image: url("../images/cover-image-dark.png");
  --subtitle-color: #000028;
}
